@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* margin for the double-chocolate roll card */
.big-margin {
  margin: 21px 0 0 0;
}

body {
  /* Set the default font family and font color for our application. */
  font-family: 'Roboto';
  font-size: 18px;
  color: black;
  padding: 0 20px;
}

/* display for a row of items (cinnamon rolls) */
.row {
  display: flex;
  align-items: center;
  justify-content: center; 
}