body {
    font-family: sans-serif;
    font-size: 14px;
    color: black;
}

.logo {
    width: 170px;
    height: 100px;
    border-radius: 5px;
}

.header {
    border-bottom: 5px solid black;
}

h1 {
    font-size: 13px;
    text-align: center;
}

#cart{
    color: gray;
}