.cart {
    width: 90px;
    flex: 0 1 auto;
    text-align: right;
}

.description {
    margin: 20px 0;
}

/* encapsulates the entire navigation bar */
.header-bar {
    align-items: center; 
    width: 75%;
    display: flex;
    margin: auto;
}

.header-bar-text {
    display: flex;
    margin: 20px;
}

.highlight:hover {
    background-color: yellow;
    font-weight: 700;
}

.line {
    flex: 1 0 auto;
}

.line-weight {
    border: none;
    height: 4px;
    background-color: #333;
}

/* Bun Bun shop logo formatting */
.logo {
    flex: 0 0 auto; 
    width: 200px; 
    height: 200px;
    margin: 0 30px;
}

/* formatting for the popup that displays when user clicks 'Add to Cart' button */
.popup {
    width: 175px;
    text-align: left;
    outline: solid darkgrey;
    background-color: white;
    padding: 4px;

    position: absolute;
    right: 140px;
    z-index: 2;
    display: none;
}

.products {
    flex: 1 0 auto;
    text-align: right;
    margin: 0 100px 0 0;
}

.small-font {
    font-size: 14px;
}

.total {
    
}
.total-price{
    flex: 1 0 auto;
    text-align: right;

}

.total-items{
    flex: 0 1 auto;

}