/* * {
  padding: 0px;
  margin: 0px;
} */

body {
    font-family: "Inter", sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;
  }

.header {
    display: flex;
    flex-direction: row;
    padding: 0 30px;
    align-items: center;
}

.menu {
    flex: 1 0 auto;
    text-align: right;
    
}
.navbar-item {
    margin: 0 50px;
    font-weight: 600;
}

.nav-bar{
  background-color: rgba(255, 255, 255, 0.9);
}
a {
    color: #000;
    text-decoration: none;
}

.huarui-logo {
    font-weight: bolder;
    width: 50px;
    color: #D0ECBC;
    margin: 0 0 0 20px;
    background-color: rgba(255, 255, 255, 0);
}

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.logo {
    margin: 1rem;
}

.primary-header {
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 100;
}

.primary-navigation {
    list-style: none;
    padding: 0;
    margin: 0 50px;
    font-weight: 600;

}

.space {
    margin: 0 0 0 50px;
}

.space:hover {
    color: #80B957;
}

.intro {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 0 0 50px;
}

.intro-text {
    flex: 0 1 auto;
}

.jump {
    flex: 1 0 auto;
    margin: 10px 50px;
    border-radius: 20px;
}
.section-header {
    font-weight: 900;
    font-size: 3vw;
    align-items: center;
}

.icon {
    width: 20px;
    height: 20px;
    padding: 0 5px;
}

.icon-big {
  width: 30px;
  height: 30px;
  padding: 0 7px;
}

.contact {
    vertical-align: center;
    display: flex;
    align-items: center;
}
.green-font {
    color: #80B957;
    font-weight: 550;
}
.body-text{
    font-weight: 500;
    margin: 50px 0;
    font-size: 2.5vmin;
    align-items: center;

}
.small-text{
  font-size: 2.19vmin;
}

.parent-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 3.9vh;
    /* font-size: 30px; */
    padding: 20px 45px 30px 45px;
    align-items: center;
  }
  
  .flex-item-left {
    flex: 30%;
  }

  .jamjelly{
    z-index: 5;
    display: none;
  }
  .show{
    display: inline;
  }

  .left {
    flex: 60%;
  }
  
  .flex-item-right {
    flex: 60%;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly; 
}

.proj {
    margin: 20px;
    align-items: center;

    /* adding anime.js */
    opacity: 0;
}

  .cap {
    border-radius: 4%;
    width: 100%;
  }
  

  .services {
    padding: 30px 0; 
    position: relative;
  }

  .footer {
    /* background-color: #D0ECBC; */
    padding: 7px;
  }

  .center {
    justify-content: center;
  }

  .services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-items: center;
    /* display: flex; */
  }

  .progImg {
    /* position: relative;
    width: 400px; */
  }

  .overlay {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background:rgba(255, 255, 255, 0.6);
    align-items: center;
    justify-content: center;
    opacity: 0;
  }

  .blur {
    backdrop-filter: blur(5px);
  }
 
  .overlay:hover{
    opacity: 1;
  }
  .proj {
    max-width: 100%;
    text-align: center;
    font-weight: 575;
    position: relative;
  }

  .proj-thumbnail {
    /* width: 100%; */
    position: absolute;
  }

  /* Responsive layout - makes a one column-layout instead of a two-column layout */
  @media screen and (max-width: 600px) {
    .flex-item-right, .flex-item-left, .left, .roll-image {
      flex: 100%;
    }
  }